<div class="row">
  <div class="col-md-12">

    <h3>My Daily Stand-Up Reports</h3>
    <%= link_to 'New Daily Stand-Up Report', new_report_path, class: "btn btn-primary" %>
    <br><br>

    <% if @reports.present? %>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th width="180"><center>Actions</center></th>
        </tr>
      </thead>

      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td><%= report.id %></td>
            <td><%= DateTimeHelper.in_malaysia_time(report.created_at) %></td>
            <td><center>
              <%= link_to 'Show', report, class: "btn btn-success" %>&nbsp;
              <%= link_to 'Edit', edit_report_path(report), class: "btn btn-primary" %>
            </center></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @reports, renderer: BootstrapPagination::Rails %>

    <% else %>
      <p>Hey buddy, seems like you don't have any daily stand-up report yet. Create one now by clicking the button above!</p>
    <% end %>

  </div>
</div>
