<!DOCTYPE html>
<html>
  <head>
    <title>My Daily Stand-Up</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
  	<%= render 'layouts/navbar' %>
  	
  	<div class="container">
      <div class="row">
        <div class="col-md-12">

          <% if notice.present? %>
            <div class="alert alert-success">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <%= notice %>
            </div>
          <% end %>

        </div>
      </div>

    	<%= yield %>
    </div>
  </body>
</html>
